body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 95%;
    margin: 20px auto;
    background-color: #CED0CE;
    padding: 20px;
    border-radius: 8px;
  }

  
  .refundDetails {
    margin-top: 20px;
  }
  
  .product {
    background-color: #e6e8e6;
    padding: 10px;
    margin-bottom: 10px;
  }

  .productInfo{
    margin: 30px;
  }
  
  .container_header{
    width: 95%;
    margin: 20px auto;
    background-color: #24252a;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;

  }

  .refundDetails{
    display: flex;
     
    
  }

.product{
    flex: 1;
}
.info {
  flex: 1;
} 
  .imagePreview{
    float:left;
  }

  .productInfo{
    float:right;
  }

  .product{
     overflow:auto;
  }

  .container_body{
    width: 1500px !important;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #24252a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 0px;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(55, 57, 67, 100)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.button_right{

    background: #24252a;
   
    color: white;
    height: 100%;
   
}

.button_right:hover{
    background-color:  #0088a9;
}


  