body {
    font-family: Arial, sans-serif;
    
  }
  
  .container_previewImages{
    max-width: 800px;
    margin: 20px auto;
    background-color: #CED0CE;
    padding: 20px;
    border-radius: 8px;
  }

  .container_header{
    max-width: 800px;
    margin: 20px auto;
    background-color: #191919;
    padding: 20px;
    border-radius: 8px;
    color: white;
  }



  .container .btn {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

  .container_reason {
    max-width: 800px;
    margin: 20px auto;
    background-color: #CED0CE;
    padding: 20px;
    border-radius: 8px;
  }

  .container_description{
    max-width: 800px;
    margin: 20px auto;
    background-color: #CED0CE;
    padding: 20px;
    border-radius: 8px;
    
    
  }
  
  #text{
    width: 100%;
    resize: none;
    height: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e6e8e6;
  }
 
  
  label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  
  button {
    
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    background-color: #191919;
    color: white;
    display: block;
  }
  
  button:hover{
    background-color: #F15025;
  }
  
  .confirmation {
    text-align: center;
    margin-top: 20px;
  }


.imageLabel,
.image {
  border: 1px solid black;
  padding: 2px 5px 2px;
  box-sizing: border-box; 
  width: 310px;
  margin:5px;
  text-align: center;
  background-color: #e6e8e6;
  
}
.previewImage{
  width: 300px;
}

.wrapper {
  display: block; 
  width: 100%;
}

.Label_left{

  width: 20%;
  background-color: white;
  padding: 8px 0px;
  border: none;
  border-radius: 360px;
  text-align: center;
  float: left;
  font-size: 10px;
  background-color: #FFFFFF;
  
}

#refundCount{
  float: right;
  width: 20%;
  border-radius: 360px;
  border: none;
  font-size: 10px;
  background-color: #FFFFFF;
}

.refundCounter { 
  
  
  overflow:auto;
}

#refundReason{
  background-color: #e6e8e6;
}


  
  