body {
    font-family: Arial, sans-serif;
    
}

.container_orderNumber {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #CED0CE;
    border-radius: 8px;
    text-align: center;
    
}

.container_header{
    max-width: 90%;
    margin: 20px auto;
    background-color: #24252a/*#191919*/;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    
   
  }

  .container_faq{
    max-width: 90%;
    margin: 2px auto;
    background-color: #CED0CE;
    padding: 20px;
    border-radius: 8px;
    color: black;
    
  }


input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.container_body button  {
    padding: 10px 20px;
    background-color: #24252a;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.container_body button:hover {
    background-color: rgba(0, 136, 169, 1);
}

#orderNumber{
    background-color: #e6e8e6;
    border-radius: 5px;
    border:none;
}